
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<h1>Student Dashboard </h1>


@section Scripts {
    <script src="~/AppJs/Examination.js"></script>
    <script>
        $(document).ready(function () {

            Exam.GetQuestions();
        });
    </script>
}